.DS_Store
.classpath
.project
.gradle
.idea/workspace.xml
.idea/tasks.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/vcs.xml
.idea/libraries
.idea/dictionaries
.idea/misc.xml
bin/
gen/
target/
out/
build/
gen-external-apklibs/
*.class
*.swp
*.apk
*.ap_
*.dex
local.properties
Thumbs.db
keys
